{%  extends 'capstoneapp/base.html'   %}

{%  block content   %}


<!DOCTYPE html>

{% load humanize %} <!-- need to insert commas in numbers. type intcomma in rows-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<div class="container ">

    <h3 class="font-weight-bold text-uppercase text-center p-5"> US Voting Participation Summaries (2018 Mid-Term Turnout) </h3>
        
    <h3 class="text-primary"> Total US </h3>
    <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">State</th>
                <th scope="col">Population</th>
                <th scope="col">Reg Voters</th>
                <th scope="col">Reg Voters %</th>
                <th scope="col">Voters</th>
                <th scope="col">Voters %</th>
              </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{ row.state }} </td>
                    <td>{{ row.population_total|intcomma }}  </td> 
                    <td>{{ row.registered_voters_total |intcomma }}  </td>
                    <td>{{ row.registered_voters_percent }}  </td>
                    <td>{{ row.total_voters |intcomma }}  </td>
                    <td>{{ row.total_voters_percent }}  </td>
                </tr> {% endfor %}       
            </tbody>
    </table>    
    <br>

    <h3 class="text-warning"> Participation By Gender</h3>
    <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
            <thead class="thead-dark">
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">State</th>
                <th scope="col">Male Population </th>
                <th scope="col">Male Reg Voters</th>
                <th scope="col">Male Reg Voters%</th>
                <th scope="col">Male Voters</th>
                <th scope="col">Male Voters%</th>
                <th scope="col">Female Population</th>
                <th scope="col">Female Reg Voters</th>
                <th scope="col">Female Reg Voters%</th>
                <th scope="col">Female Voters</th>
                <th scope="col">Female Voters%</th>
              </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <!-- <th scope="row">1</th> -->
                    <td>{{ row.state }} </td>
                    <td>{{ row.males_population_total |intcomma }}  </td>
                    <td>{{ row.males_registered_total   |intcomma}}  </td>
                    <td>{{ row.males_registered_percent }}  </td>
                    <td>{{ row.males_voted_total  |intcomma}}  </td>
                    <td>{{ row.males_voted_percent }}  </td>
                    <td>{{ row.females_population_total |intcomma }}  </td>
                    <td>{{ row.females_registered_total |intcomma}}  </td>
                    <td>{{ row.females_registered_percent }}  </td>
                    <td>{{ row.females_voted_total |intcomma }}  </td>
                    <td>{{ row.females_voted_percent }}  </td>
                </tr> {% endfor %}       
            </tbody>
    </table>    
    <br>

    <h3 class="text-info"> Participation By Race (White/Black)</h3>
    <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">State</th>
                        <th scope="col">White Population</th>
                        <th scope="col">White Reg Voters</th>
                        <th scope="col">White Reg Voters%</th>
                        <th scope="col">White Voters</th>
                        <th scope="col">White Voters%</th>
                        <th scope="col">Black Population</th>
                        <th scope="col">Black Reg Voters</th>
                        <th scope="col">Black Reg Voters%</th>
                        <th scope="col">Black Voters</th>
                        <th scope="col">Black Voters%</th>
                       </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ row.state }} </td>
                            <td>{{ row.white_population_total |intcomma }}  </td>
                            <td>{{ row.white_registered_total |intcomma}}  </td>
                            <td>{{ row.white_registered_percent }}  </td>
                            <td>{{ row.white_voted_total |intcomma }}  </td>
                            <td>{{ row.white_voted_percent }}  </td>
                            <td>{{ row.black_population_total |intcomma}}  </td>
                            <td>{{ row.black_registered_total |intcomma}}  </td>
                            <td>{{ row.black_registered_percent }}  </td>
                            <td>{{ row.black_voted_total|intcomma }}  </td>
                            <td>{{ row.black_voted_percent }}  </td>
                        </tr> {% endfor %}       
                    </tbody>
   </table>

   <br>
   <h3 class="text-success"> Participation By Race (Asian/Hispanic)</h3>
   <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
                   <thead class="thead-dark">
                     <tr>
                       <!-- <th scope="col">#</th> -->
                       <th scope="col">State</th>
                       <th scope="col">Asian Population</th>
                       <th scope="col">Asian Reg Voters</th>
                       <th scope="col">Asian Reg Voters%</th>
                       <th scope="col">Asian Voters</th>
                       <th scope="col">Asian Voters%</th>
                       <th scope="col">Hispanic Population</th>
                       <th scope="col">Hispanic Reg Voters</th>
                       <th scope="col">Hispanic Reg Voters%</th>
                       <th scope="col">Hispanic Voters</th>
                       <th scope="col">Hispanic Voters%</th>
                     </tr>
                   </thead>
                   <tbody>
                       {% for row in data %}
                       <tr>
                           <!-- <th scope="row">1</th> -->
                           <td>{{ row.state }} </td>
                           <td>{{ row.asian_population_total|intcomma }}  </td>
                           <td>{{ row.asian_registered_total |intcomma}}  </td>
                           <td>{{ row.asian_registered_percent }}  </td>
                           <td>{{ row.asian_voted_total|intcomma }}  </td>
                           <td>{{ row.asian_voted_percent }}  </td>
                           <td>{{ row.hispanic_population_total |intcomma }}  </td>
                           <td>{{ row.hispanic_registered_total |intcomma }}  </td>
                           <td>{{ row.hispanic_registered_percent }}  </td>
                           <td>{{ row.hispanic_voted_total |intcomma}}  </td>
                           <td>{{ row.hispanic_voted_percent }}  </td>
                       </tr> {% endfor %}       
                   </tbody>
  </table>

  <br>
    <h3 class="text-info"> Participation By Age (18-44)</h3>
    <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">State</th>
                        <th scope="col">Population 18-24</th>
                        <th scope="col">Reg Voters 18-24</th>
                        <th scope="col">Reg Voters% 18-24</th>
                        <th scope="col">Voters 18-24</th>
                        <th scope="col">Voters% 18-24</th>
                        <th scope="col">Population 25-34</th>
                        <th scope="col">Reg Voters 25-34</th>
                        <th scope="col">Reg Voters% 25-34</th>
                        <th scope="col">Voters 25-34</th>
                        <th scope="col">Voters% 25-34</th>
                        <th scope="col">Population 35-44</th>
                        <th scope="col">Reg Voters 35-44</th>
                        <th scope="col">Reg Voters% 35-44</th>
                        <th scope="col">Voters 35-44</th>
                        <th scope="col">Voters% 35-44</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <!-- <th scope="row">1</th> -->
                            <td>{{ row.state }} </td>
                            <td>{{ row.age_18to24_population_total |intcomma }}  </td>
                            <td>{{ row.age_18to24_registered_total |intcomma}}  </td>
                            <td>{{ row.age_18to24_registered_percent }}  </td>
                            <td>{{ row.age_18to24_voted_total |intcomma}}  </td>
                            <td>{{ row.age_18to24_voted_percent }}  </td>
                            <td>{{ row.age_25to34_population_total |intcomma}}  </td>
                            <td>{{ row.age_25to34_registered_total |intcomma}}  </td>
                            <td>{{ row.age_25to34_registered_percent }}  </td>
                            <td>{{ row.age_25to34_voted_total |intcomma}}  </td>
                            <td>{{ row.age_25to34_voted_percent }}  </td>
                            <td>{{ row.age_35to44_population_total |intcomma }}  </td>
                            <td>{{ row.age_35to44_registered_total|intcomma }}  </td>
                            <td>{{ row.age_35to44_registered_percent }}  </td>
                            <td>{{ row.age_35to44_voted_total |intcomma}}  </td>
                            <td>{{ row.age_35to44_voted_percent }}  </td>
                          </tr> {% endfor %}       
                    </tbody>
   </table>
   <br>
   <h3 class="text-success"> Participation By Age (45-65+)</h3>
   <table class="table table-hover table-sm table-bordered text-center text-secondary table-striped">
                   <thead class="thead-dark">
                     <tr>
                       <!-- <th scope="col">#</th> -->
                       <th scope="col">State</th>
                       <th scope="col">Population 45-64</th>
                       <th scope="col">Reg Voters 45-64</th>
                       <th scope="col">Reg Voters% 45-64</th>
                       <th scope="col">Voters 45-64</th>
                       <th scope="col">Voters% 45-64</th>
                       <th scope="col">Population 65+</th>
                       <th scope="col">Reg Voters 65+</th>
                       <th scope="col">Reg Voters% 65+</th>
                       <th scope="col">Voters 65+</th>
                       <th scope="col">Voters% 65+</th>
                     </tr>
                   </thead>
                   <tbody>
                       {% for row in data %}
                       <tr>
                           <!-- <th scope="row">1</th> -->
                           <td>{{ row.state }} </td>
                           <td>{{ row.age_45to64_population_total |intcomma}}  </td>
                           <td>{{ row.age_45to64_registered_total |intcomma }}  </td>
                           <td>{{ row.age_45to64_registered_percent }}  </td>
                           <td>{{ row.age_45to64_voted_total |intcomma}}  </td>
                           <td>{{ row.age_45to64_voted_percent  }}  </td>
                           <td>{{ row.age_65plus_population_total |intcomma }}  </td>
                           <td>{{ row.age_65plus_registered_total |intcomma}}  </td>
                           <td>{{ row.age_65plus_registered_percent }}  </td>
                           <td>{{ row.age_65plus_voted_total |intcomma}}  </td>
                           <td>{{ row.age_65plus_voted_percent  }}  </td>

                       </tr> {% endfor %}       
                   </tbody>
  </table>
    <!--  
        To print/display a variable from model in a template, use double curly brackets wth variables name inside 
        {% for row in data %}  created a variable called data on in census view, which brings in all rows of data. command loops over each row of model. the word "data" (for row in data) needs to match the variable name on the view 
        <div> 
        <p> {{ row.state }}   </p> 
        <p> {{ row.population_total }}   </p> 
        
        </div>
        {% endfor %}
    -->

</div>

<!-- Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
{%  endblock   %}