<!DOCTYPE html>


{% load static %} <!-- wrap other static statement around csv file-->

<meta charset="utf-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Historical Voting Rates</title>
    
  <!-- Bootstrap stylesheet -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<style>

body {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
</style>

<body>
<div class = "container">
 <!-- Title -->
        <h6 class="title text-left font-weight-bold">National Midterm Election Turnout Rates: Historical Perspective  </h6>

    <button id="start" style="position: absolute; margin-left: 6px; margin-top: 6px;">Start Time Animation</button>
    <button id="reset" style="position: absolute; margin-left: 150px; margin-top: 6px">Reset</button>
    <p style="position: absolute; margin-left: 212px; margin-top: 12px; text-size: 12px">Start animation, then hover over line to see percentages.</p>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  
 
  <script>
 
  let margin = {top: 60, right: 20, bottom: 30, left: 50},
      width = 700 - margin.left - margin.right,
      height = 365 - margin.top - margin.bottom;

  // Parsing data to show in tooltip
  let parseDate = d3.time.format("%Y").parse, //formatters for how data formatted in csv; %Y for full year 
      bisectDate = d3.bisector(function(d) { return d.date; }).left,
      formatValue = d3.format(",.2f"),
      formatCurrency = function(d) { return formatValue(d) + "%"; };

  let x = d3.time.scale()
      .range([0, width]);

  let y = d3.scale.linear()
      .range([height, 0]);

  let xAxis = d3.svg.axis()
      .scale(x)
      .orient("bottom");

  let yAxis = d3.svg.axis()
      .scale(y)
      .orient("left");

  let line = d3.svg.line()
      .x(function(d) { return x(d.date); })
      .y(function(d) { return y(d.rate); });

  let svg = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  d3.csv("{% static 'capstoneapp/voter_rates_midterm.csv' %}", function(error, data) {
      if (error) throw error;
      console.log(data);

      data.forEach(function(d) { //looping through each row parsing date and converting rate column
          d.date = parseDate(d.date);
          d.rate = +d.rate; // + converts rate column to number
      });

      x.domain(d3.extent(data, function(d) { return d.date; }));
      y.domain(d3.extent(data, function(d) { return d.rate; }));

      svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      svg.append("g")
          .attr("class", "y axis")
          .call(yAxis)
          .append("text")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("turnout (%)");

    //this is where the line is created and the data is being bound to the line, where the svg path is appended to page
    // To start animation on click, put the entire creation of SVG and associated animating transiton 
    //within the D3 click event
    d3.select("#start").on("click", function() {
        let path = svg.append("path")
          .datum(data)
          .attr("class", "line")
          .attr("d", line);

      //The block of code for totalLength and path gets the total length of the line,
      //sets the dasharry and dashoffset properties to the total length, 
      //then sets up the transition to adjust the dash offset to zero.
      //this leads to an animation that makes the graph appear that it is unraveling over time.

      // Variable to hold total length of the path, needed for stroke dash affect 
      let totalLength = path.node().getTotalLength();

      // Set Properties of Dash Array and Dash Offset and initiate Transition (unrolls the line on chart)
      path
          .attr("stroke-dasharray", totalLength + " " + totalLength)
          .attr("stroke-dashoffset", totalLength)
          .transition() // Call Transition Method
          .duration(4000) // Set Duration timing (ms)
          .ease("linear") // Set Easing option
          .attr("stroke-dashoffset", 0); // Set final value of dash-offset for transition

      // Create SVG for Tooltip and Circle on Mouseover
      let focus = svg.append("g")
          .attr("class", "focus")
          .style("display", "none");

      // Append a circle to show on Mouseover
      focus.append("circle")
          .attr("r", 4.5);

      // Append text to show on Mouseover
      focus.append("text")
          .attr("x", 9)
          .attr("dy", ".35em");

      // Append overlay rectangle as container for Circle and Tooltips
      // that allows user to hover anywhere on graphic
      svg.append("rect")
          .attr("class", "overlay")
          .attr("width", width)
          .attr("height", height)
          .on("mouseover", function() { focus.style("display", null); })
          .on("mouseout", function() { focus.style("display", "none"); })
          .on("mousemove", mousemove);

      // Mousemove function that sets location and changes properties of Focus SVG
      function mousemove() {
        let x0 = x.invert(d3.mouse(this)[0]),
            i = bisectDate(data, x0, 1),
            d0 = data[i - 1],
            d1 = data[i],
            d = x0 - d0.date > d1.date - x0 ? d1 : d0;
        focus.attr("transform", "translate(" + x(d.date) + "," + y(d.rate) + ")");
        focus.select("text").text(formatCurrency(d.rate));
      }
    });

    // Reset Animation
    d3.select("#reset").on("click", function() {
      d3.select(".line").remove();
    });
  });

  </script>
     
</div>
    <br>
    <br>
    <p>__________________________________________________________________________________________________________________________________________</p>
      <h4 class="subtitle text-left">Voting in America: Historical Persective</h4>
      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1776</th>
      <td>Voting is controlled by individual state legislatures. Only white men age 21 and older who own land can vote.</td>
    </tr>
    <tr>
      <th scope="row">1848</th>
      <td>Abolitionlists and pro women's suffrage groups first meet and organize in Senaca Falls.</td>
    </tr>
    <tr>
      <th scope="row">1868</th>
      <td>The 14th Amendment to the U.S. Constitution grants full citizenship rights, including voting rights, to all men born or naturalized in the United States. .</td>
    </tr>
    <tr>
      <th scope="row">1870</th>
      <td>The 15th Amendment eliminates racial barriers to voting. Many states continue practicing voter discrimination. Poll taxes, literacy tests, fraud, and intimidation still prevent many from voting. Native Americans are still denied the right to vote.</td>
    </tr>
    <tr>
    <tr>
      <th scope="row">1872</th>
      <td>Activists Susan B. Anthony and Soujourner Truth are arrested for trying to vote. </td>
    </tr>
    <tr>
      <th scope="row">1890</th>
      <td>Wyoming becomes the first US state to grant women the right to vote.</td>
    </tr>
    <tr>
      <th scope="row">1920</th>
      <td>The 19th Amendment grants the women the right to vote nationwide. But not all Native American and Asian women have citzenship.</td>
    </tr>
    <tr>
      <th scope="row">1924</th>
      <td>Indian Citzenship Act is passed, giving Native Americans full citzenship. However many states disenfranchise them at the polls.</td>
    </tr>
    <tr>
      <th scope="row">1952</th>
      <td>McCarren-Walter Act is passed, grants all Asian Americans the right to become citizens and vote.</td>
    </tr>
    <tr>
      <th scope="row">1961</th>
      <td>23rd Amendment gives DC residents the right to vote for presidents, but not Congressional representation.</td>
    </tr>
    <tr>
      <th scope="row">1965</th>
      <td>Voting Rights Act is passed, removing discrimanatory barriers that kept many people of color from voting.</td>
    </tr>
    <tr>
      <th scope="row">1971</th>
      <td>Voting age is lowered from 21 to 18 in light of the Vietnam War; to ensure those old enouph to fight could vote.</td>
    </tr>
     <tr>
      <th scope="row">1975</th>
      <td>The federal Voting Rights Act is renewed, permanently banning literacy tests nationwide. Section 203 is added, requiring translated voting materials in areas with large numbers of citizens with limited English skills.</td>
    </tr>
   <tr>
      <th scope="row">1984</th>
      <td>The federal Voting Accessibility for the Elderly and Handicapped Act requires polling places to be accessible to people with disabilities.</td>
    </tr>
    <tr>
      <th scope="row">1993</th>
      <td>National Voter Registration Act is passed, making it easier to register at DMV's and public assistance centers.</td>
    </tr>
    <tr>
      <th scope="row">2000</th>
      <td>A federal court ruled that citizens of US territories like Puerto Rico and Guam CANNOT vote in federal elections.</td>
    </tr>
    <tr>
      <th scope="row">2009</th>
      <td>Washington becomes the second state in the U.S. (after Oregon) to vote entirely by mail rather than in person at the polls.</td>
    </tr>
    <tr>
      <th scope="row">2018</th>
      <td>Amendment 4 is passed, restoring voting rights to over 1.4 million Floridians with past felony convictions. However, efforts to block implementation of new law is under way. Opposing forces argue that payment of court fines and fees should be paid before people with felony records can regain the right to vote. </td>
    </tr>


  </tbody>
</table>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>